html
{
    height: 100%;
    width: 100%;   
}

body
{
    height: 100%;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: powderblue;
    margin: 0;
}

form{
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.login

{
    height: 45%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    background-color:white;
    flex-direction: column;
    border-radius: 20px;
}

label{
   width: 75%;
   text-align: left;
    
}

span{
    color: red;
    height: 5%;
    width: 100%;
    text-align: center;
}

button 
{
    height: 10%;
    width:30%;
    margin: 4px;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
}

button a{
    text-decoration:none ;
}

h1
{
    text-align: center ;
    color: black;
    opacity: 0.7;
}

input[type=text],input[type=password]
{
    height: 10%;
    width: 75%;
    padding:10px;
    font-size:15px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

::placeholder
{
    font-size: 15px;
    color: rgb(179, 25, 158);
}

@media only screen and (min-device-width : 200px) and (max-device-width : 820px)   {
    .login
    {
        width:70%;
        height:40%;
    }
}
@media only screen and (min-width : 820px) and (max-width : 1200px)   {
    .login
    {
        width:40%;
        height: 50%;;
    }
}
